[run]
source = quantus
omit = 
    /tutorials/*
    /tests/*
    quantus/helpers/asserts.py
    quantus/helpers/warn_func.py
    quantus/helpers/models.py
    quantus/helpers/constants.py
    quantus/helpers/plotting.py
    quantus/metrics/base.py

[report]
ignore_errors = True
