# jupyter notebook checkpoints
.ipynb_checkpoints

# pytest
.pytest_cache
*.DS_Store
__pycache__/

# data files
*.jpg
*.jpeg
*.png
*.npy
*.npz
*.csv
*.pth
tutorials/ongoing
tutorials/assets/data/
tutorials/assets/model_objs/

# dev
temp/