-r requirements.txt
captum>=0.6.0
noisegrad
pandas
pandas
pytest
pytest-lazy-fixture
pytest-mock
pytest_ordering
pytest_xdist
safetensors
shap
tensorflow>=2.12.0; sys_platform != 'darwin'
tensorflow_macos>=2.12.0; sys_platform == 'darwin'
tensorflow_probability
tf-explain

tokenizers
torch>=1.13.1
torchvision>=0.15.1
transformers
transformers_gradients
zennit>=0.5.0
