captum==0.4.0
coverage==6.2
flake8==4.0.1
matplotlib==3.4.3
numpy==1.21.2
opencv-python==4.5.4.58
pytest==6.2.5
pytest-cov==3.0.0
pytest-lazy-fixture==0.6.3
scikit-image==0.18.3
scikit-learn==1.0.1
scipy==1.7.2
termcolor==1.1.0
torch==1.10.1
torchvision==0.11.1