captum==0.4.1
coverage==6.2
flake8==4.0.1
matplotlib==3.3.4
numpy==1.19.5
opencv-python==4.5.5.62
protobuf~=3.19.0
pytest==6.2.5
pytest-cov==3.0.0
pytest-lazy-fixture==0.6.3
scikit-image==0.19.1 ; python_version > '3.6'
scikit-image==0.17.2 ; python_version == '3.6'
scikit-learn==0.24.2
scipy==1.5.4
tensorflow==2.6.2
termcolor==1.1.0
tf-explain==0.3.1
torch==1.10.1
torchvision==0.11.2
zennit==0.4.5 ; python_version > '3.6'
tqdm==4.62.3
