matplotlib>=3.6.3
numpy>=1.23.5
opencv-python>=4.7.0.68
scikit-image>=0.19.3
scikit-learn>=1.2.1
scipy>=1.10.0
tqdm>=4.64.1
pydantic

nlpaug
nltk
transformers

coverage
flake8
black
mypy==0.982

pytest
pytest-cov
pytest-lazy-fixture
pytest-mock
pytest-instafail
pytest-xdist
pytest-ordering

tensorflow>=2.11.0
tf-explain

torch>=1.13.1
torchvision>=0.14.1
zennit>=0.5.0
captum>=0.6.0

pandas

tensorflow_probability
datasets
shap
noisegrad@ git+https://github.com/aaarrti/NoiseGrad.git
transformers-interpret